* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;

}

#canvas1 {
  background-color: #1E1E1E;
  background: linear-gradient(0deg, rgba(64,64,64,1) 0%, rgba(33,33,33,1) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: page;
  height: calc(100vh - 144.33px);
  /* height: 100vh; */

}

h1 {
  font-size: 2rem;
  font-size: clamp(3rem, 15vw, 1000rem);
  text-transform: uppercase;
  font-weight: 800;
    color: black;
  /* margin-bottom: -3%; */
  padding: 0 10%;
  grid-column: content;
  line-height: 60%;

  /* -webkit-text-stroke: 8px rgb(165, 165, 165); width and color */

}

h2{
  font-size: 3rem;
  font-size: clamp(2rem, 5vw, 3rem);
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #76FF8C;
}

::selection {
  color: black;
  background: #76FF8C;
}

.container {
  width: 100%;
  padding: 1rem 10%;

  overflow: auto;
  grid-column: content;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  align-self: start;
  position: sticky;
  top: 0;
  background: rgb(0,0,0);
}

nav{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);

}

nav > div{
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  align-items: center;
}

input[type=search]{
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: .5rem 1.5rem;
  border: 2px solid white;
  border-radius: .6rem;
  text-wrap: nowrap;
  background: none;
}

input[type=search]::placeholder{
  color: white;
}

input[type=search]:is(:hover, :focus){
  background-color: #282828;
}

label{
  color: white;.title}

.title {
  text-decoration: none;
  transition: all .2s ease-in-out;
  color: white;

}

.portfolio {
  font-size: 1rem;
  text-decoration: none;
  color: #76FF8C;
  padding: .5rem 1.5rem;
  border: 2px solid #76FF8C;
  border-radius: .6rem;
  text-wrap: nowrap;
  transition: all .2s ease-in-out;
}

.portfolio:is(:hover, :focus){
  background-color: #142c18;
}

.title:is(:hover, :focus){
  color: #76FF8C;
}

main {
  background-color: black;
  height: 1800px;
  padding: 2rem 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  z-index: 2;
}